<div class="intermediary-form">
	<div class="form-group">
		<h4>Empresa Aportante</h4>
		<label>NIT</label>
		<input [(ngModel)]="businessService.selectedRow.nit" type="text" class="form-control"/>
		<label>Nombre</label>
		<input [(ngModel)]="businessService.selectedRow.nombre" type="text" class="form-control"/>
		<label>Actividad Economica</label>
		<select class="form-control" 
			[(ngModel)]="businessService.selectedRow.actividad_economica">
			<option *ngfor="let option of actividad_economicaOptions"  [value]="option.name">{{option.name}}</option>
		</select> type="text" class="form-control"/>
		<label>Tipo de Pagador</label>
		<select class="form-control" 
			[(ngModel)]="businessService.selectedRow.tipo_de_pagador">
			<option *ngfor="let option of tipo_de_pagadorOptions"  [value]="option.name">{{option.name}}</option>
		</select> type="text" class="form-control"/>
	</div>
	<div class="text-right">
		<button (click)=create() class="btn btn-primary">
			<span>Crear</span>
		</button>
		<button (click)=update() class="btn btn-primary">
			<span>Actualizar</span>
		</button>
		<button (click)=cancel() class="btn btn-primary">
			<span>Cancelar</span>
		</button>
	</div>
</div>