<div class="pensioner-form">
	<div class="form-group">
		<h4>Pensionado</h4>
		<label>Nombre</label>
		<input [(ngModel)]="businessService.selectedRow.nombre" type="text" class="form-control"/>
		<label>Cedula</label>
		<input [(ngModel)]="businessService.selectedRow.cedula" type="text" class="form-control"/>
		<label>Apellido</label>
		<input [(ngModel)]="businessService.selectedRow.apellido" type="text" class="form-control"/>
		<label>Salario</label>
		<input [(ngModel)]="businessService.selectedRow.salario" type="text" class="form-control"/>
		<label>Tipo Pension</label>
		<select class="form-control" 
			[(ngModel)]="businessService.selectedRow.tipo_pension">
			<option *ngfor="let option of tipo_pensionOptions"  [value]="option.name">{{option.name}}</option>
		</select> type="text" class="form-control"/>
		<label>Tipo Pensionado</label>
		<select class="form-control" 
			[(ngModel)]="businessService.selectedRow.tipo_pensionado">
			<option *ngfor="let option of tipo_pensionadoOptions"  [value]="option.name">{{option.name}}</option>
		</select> type="text" class="form-control"/>
		<label>País de Residencia</label>
		<select class="form-control" 
			[(ngModel)]="businessService.selectedRow.país_de_residencia">
			<option *ngfor="let option of país_de_residenciaOptions"  [value]="option.name">{{option.name}}</option>
		</select> type="text" class="form-control"/>
		<label>Residencia Grupo Familiar</label>
		<select class="form-control" 
			[(ngModel)]="businessService.selectedRow.residencia_grupo_familiar">
			<option *ngfor="let option of residencia_grupo_familiarOptions"  [value]="option.name">{{option.name}}</option>
		</select> type="text" class="form-control"/>
	</div>
	<div class="text-right">
		<button (click)=save() class="btn btn-primary">
			<span>Crear</span>
		</button>
		<button (click)=update() class="btn btn-primary">
			<span>Actualizar</span>
		</button>
	</div>
</div>