<div class="new-form">
  <div class="form-group">
    <h4>Pensionado</h4>
    <label>Cédula</label>
    <input [(ngModel)]="cedula" type="text" class="form-control" (blur)="getEntity()"/>
    <br><br>
    <div class="currency-group">
      <label>Nombres:</label>
      <label class="currency-field">{{firstName}}</label>
    </div>
    <br>
    <div class="currency-group">
      <label>Apellidos:</label>
      <label class="currency-field">{{lastName}}</label>
    </div>
    <br>
    <h4>Novedad</h4>
    <label>Tipo de novedad</label>
    <select class="form-control"
            [(ngModel)]="businessService.selectedRow.newType">
      <option *ngFor="let option of  newTypeOptions" [value]="option.name">{{option.name}}</option>
    </select>
    <label>Fecha inicial</label>
    <input [(ngModel)]="businessService.selectedRow.startDate" type="date" class="form-control"/>
    <label>Fecha final</label>
    <input [(ngModel)]="businessService.selectedRow.endDate" type="date" class="form-control"/>
  </div>

  <div class="form-group">
    <h4></h4>
    <label>Variación temporal del salario</label>
    <input [(ngModel)]="businessService.selectedRow.salaryVariation" type="text" class="form-control"/>
  </div>

  <div class="text-right">
    <button (click)="saveNews()" class="btn btn-primary">
      <span>Crear</span>
    </button>
  </div>
</div>
