<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SistemaPagos -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="PaymentsApp.presentation.PaymentsAppModelWizardID"
            name="%_UI_PaymentsAppModelWizard_label"
            class="PaymentsApp.presentation.PaymentsAppModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PaymentsAppModelFile.gif">
         <description>%_UI_PaymentsAppModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SistemaPagos -->
      <editor
            id="PaymentsApp.presentation.PaymentsAppEditorID"
            name="%_UI_PaymentsAppEditor_label"
            icon="icons/full/obj16/PaymentsAppModelFile.gif"
            extensions="paymentsapp"
            class="PaymentsApp.presentation.PaymentsAppEditor"
            contributorClass="PaymentsApp.presentation.PaymentsAppActionBarContributor">
      </editor>
   </extension>

</plugin>
