<div class="IntermediaryEntrySection form-group">
  <label>NIT</label>
  <input [(ngModel)]="nit" type="text" class="form-control"/>
  <label>Nombre</label>
  <input [(ngModel)]="name" type="text" class="form-control"/>
  <label>Codigo CIIU</label>
  <input [(ngModel)]="ciiuCode" type="text" class="form-control"/>
  <label>Actividad Económica</label>
  <input [(ngModel)]="econActivity" type="text" class="form-control"/>
  <br>
  <!--Informacion del Administrador del la superentidad-->
  <h3>Administrador</h3>
  <label>email</label>
  <input [(ngModel)]="email" type="email" class="form-control"/>
  <label>Password</label>
  <input [(ngModel)]="password" type="password" class="form-control"/>
  <label>Nombre</label>
  <input [(ngModel)]="adminName" type="text" class="form-control"/>
  <br>
  <button (click)="saveSuperEntity()" class="btn btn-primary">
      <span>Crear</span>
    </button>
</div>

<p>
  intermediary works!
</p>