<div class="pensioner-form">
  <div class="form-group">
    <h4>Pensionado</h4>
    <label>Cédula</label>
    <input [(ngModel)]="pensionersService.selectedRow.cedula" type="text" class="form-control"/>
    <label>Nombres</label>
    <input [(ngModel)]="pensionersService.selectedRow.firstName" type="text" class="form-control"/>
    <label>Apellidos</label>
    <input [(ngModel)]="pensionersService.selectedRow.lastName" type="text" class="form-control"/>
    <label>SuperEntidad</label>
    <input [(ngModel)]="pensionersService.selectedRow.superEntityId" type="text" class="form-control"/>
    <label>Tipo de pension</label>
    <select class="form-control"
            [(ngModel)]="pensionersService.selectedRow.pensionType">
      <option *ngFor="let option of  pensionTypeOptions" [value]="option.name">{{option.name}}</option>
    </select>
    
    <label>Tipo de pensionado</label>
    <select class="form-control"
            [(ngModel)]="pensionersService.selectedRow.pensionerType">
      <option *ngFor="let option of  pensionerTypeOptions" [value]="option.name">{{option.name}}</option>
    </select>
    <label>Pais de residencia</label>
    <select class="form-control"
            [(ngModel)]="pensionersService.selectedRow.residenceCountry">
      <option *ngFor="let option of  countryOptions" [value]="option.id">{{option.name}}</option>
    </select>
  </div>
  <!--Informacion del Administrador del la superentidad-->
  <div class="form-group">
    <h4></h4>
    <label>Residencia grupo familiar</label>
    <select class="form-control"
            [(ngModel)]="pensionersService.selectedRow.familyResidenceCountry">
      <option *ngFor="let option of  countryOptions" [value]="option.id">{{option.name}}</option>
    </select>
    <label>Profesión</label>
    <select class="form-control"
            [(ngModel)]="pensionersService.selectedRow.profession">
      <option *ngFor="let option of  profession" [value]="option.id">{{option.name}}</option>
    </select>  


    <!--input [(ngModel)]="pensionersService.selectedRow.profession" class="form-control"/-->
    
    <label>Salario</label>
    <input [(ngModel)]="pensionersService.selectedRow.salary" type="number" class="form-control text-right"/>
    <br>
  </div>

  <div class="text-right">
    <button (click)="saveEntity()" class="btn btn-primary">
      <span>Crear</span>
    </button>
  </div>
</div>


