<div class="intermediary-form">
  <div class="form-group">
    <h4>Empresa aportante</h4>
    <label>NIT</label>
    <input [(ngModel)]="nit" type="text" class="form-control"/>
    <label>Nombre</label>
    <input [(ngModel)]="name" type="text" class="form-control"/>
    <label>Codigo CIIU</label>
    <input [(ngModel)]="ciiuCode" type="text" class="form-control"/>
    <label>Actividad Económica</label>
    <input [(ngModel)]="econActivity" type="text" class="form-control"/>
    <br>
    <!--Informacion del Administrador del la superentidad-->
    <h4>Administrador</h4>
    <label>Email</label>
    <input [(ngModel)]="email" type="email" class="form-control"/>
    <label>Contraseña</label>
    <input [(ngModel)]="password" type="password" class="form-control"/>
    <label>Nombre</label>
    <input [(ngModel)]="adminName" type="text" class="form-control"/>
    <br>
  </div>
  <div class="text-right">
    <button (click)="saveSuperEntity()" class="btn btn-primary">
      <span>Crear</span>
    </button>
  </div>
</div>
