<div class="intermediary-form">
  <div class="form-group">
    <h4>Empresa aportante</h4>
    <label>NIT</label>
    <input [(ngModel)]="intermediaryService.selectedRow.nit" type="text" class="form-control"/>
    <label>Nombre</label>
    <input [(ngModel)]="intermediaryService.selectedRow.name" type="text" class="form-control"/>
    <label>Actividad Económica</label>
    <select class="form-control"
            [(ngModel)]="intermediaryService.selectedRow.ciiuCode">
      <option *ngFor="let option of  intermediaryService.econActivities" [value]="option.id">{{option.name}}</option>
    </select>
    <br>
    <!--Informacion del Administrador del la superentidad-->
    <h4>Administrador</h4>
    <label>Email</label>
    <input [(ngModel)]="userAdmin.email" type="email" class="form-control"/>
    <label>Contraseña</label>
    <input [(ngModel)]="userAdmin.password" type="password" class="form-control"/>
    <label>Nombre</label>
    <input [(ngModel)]="userAdmin.name" type="text" class="form-control"/>
    <br>
  </div>
  <div class="text-right">
    <button  *ngIf="!intermediaryService.isEditingRow()" (click)="saveSuperEntity()" class="btn btn-primary">
      <span>Crear</span>
    </button>
    <button  *ngIf="intermediaryService.isEditingRow()" (click)="updateSuperEntity()" class="btn btn-warning">
      <span>Actualizar</span>
    </button>
  </div>
</div>
