<div class="intermediary">
  <h4 class="section-title">
    <i class="glyphicon glyphicon-briefcase"></i>
    <span>Lista de empresas aportantes</span>
  </h4>
  <table class="table dataTable table-striped table-bordered" border="1px">
    <thead>
    <tr>
      <td *ngFor="let column of businessService.columns"><h5>{{column.title}}</h5></td>
      <td><h5></h5></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of businessService.rows">
      <td class="{{column.className}}" *ngFor="let column of businessService.columns">{{getRowData(row,column.name)}}</td>
      <td>
        <button (click)="editRow(row)" class="btn btn-primary">
          <i class="glyphicon glyphicon-pencil"></i>
          <span>Editar</span>
        </button>
        <button (click)="deleteRow(row)" class="btn btn-primary">
          <i class="glyphicon glyphicon-trash"></i>
          <span>Eliminar</span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
